

    <ul class="list-group chat">
      <li class="list-group-item">
        <div class="media-body">
          <img class="img-circle media-object pull-left" src="https://avatars.io/twitter/lordpalpatine" width="32" height="32">
          <strong>E. Palpatine</strong>
          <span> 8 min ago</span>
          <p>It's not the lava, loss of limbs or electrocution that kills you, it's your douchebag son who removes your breathing apparatus.</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media-body">
          <img class="img-circle media-object pull-left" src="https://avatars.io/twitter/darthvader" width="32" height="32">
          <strong>Dath V.</strong>
          <span> 4 min ago</span>
          <p>Lando: But we love our headphone jacks!
              <br>
              Apple Vader: We have altered the deal. Pray we don't alter it any further.</p>
        </div>
      </li>
        <li class="list-group-item">
          <div class="media-body">
              <img class="img-circle media-object pull-left" src="https://avatars.io/twitter/troopertk421" width="32" height="32">
            <strong>TK-421</strong>
            <span> 3 min ago</span>
            <p>Chew-Bach-A
                <br>
                <img src="https://pbs.twimg.com/media/Cs0kxL9UsAECh68.jpg" width="300px">
            </p>
          </div>
        </li>
    </ul>
<div class="list-group-header post-form">
  <input #message (keyup.enter)="addMessage(message)" class="form-control" type="text" placeholder="what's new?">
</div>
