<ul class="list-group chat">
  <li class="list-group-item" *ngFor="let item of items">
      <div class="media-body">
        <img class="img-circle media-object pull-left" src="{{item.avatar}}" width="32" height="32">
        <strong> {{item.name}}</strong>
        <span>{{item.time}}</span>
        <p [innerHTML]="item.message"></p>
      </div>
  </li>
</ul>
<div class="list-group-header post-form">
  <input #message (keyup.enter)="addMessage(message)" class="form-control" type="text" placeholder="what's new?">
</div>
