
    <ul class="list-group">
      <li class="list-group-header">
        <input #box (keyup.enter)="enter(box)" class="form-control" type="text" placeholder="Search for Room">
      </li>
      <li class="list-group-item active">
        <div class="media-body">
          <span class="icon icon-cog"></span>
          <strong>Empirial Entanglements</strong>
          <p>234 Members</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media-body">
          <span class="icon icon-cog"></span>
          <strong>Developers</strong>
          <p>476 Members</p>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media-body">
          <span class="icon icon-cog"></span>
          <strong>TV & Film</strong>
          <p>6294 Members</p>
        </div>
      </li>
    </ul>
